body {
    background-color: rgb(216, 216, 216);
}

p {
    font-family: helvetica;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}

link {
    text-align: center;
    display: block;
    margin: 0 auto;
}

video {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    display: block;
    margin: 0 auto;
}

a:link {
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
}
a:visited {
    font-size: 10px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
}
a:hover {
    font-size: 10px;
    color: black;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
}

::selection {
    color: blue;
    background: rgb(254, 255, 193);
  }